asgiref==3.11.1
bleak==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.4
django-widget-tweaks==1.5.1
djangorestframework==3.17.1
et-xmlfile==2.0.0
gunicorn==25.3.0
idna==3.11
narwhals==2.19.0
openpyxl==3.1.5
packaging==26.1
pillow==12.2.0
plotly==6.7.0
psycopg==3.3.3
psycopg2-binary==2.9.11
pyobjc-core==12.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==12.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==12.1; sys_platform == "darwin"
pyserial==3.5
requests==2.33.1
reportlab==4.2.2
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.12.0
