{% extends "projetos/base.html" %}
{% load static  i18n %}
<!-- projetos/templates/projetos/dashboard_geo.html -->
{% block title %}{% trans "Dashboard Geológico" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projeto/dashboard_geo.css' %}">
{% endblock %}

{% block content %}
<section class="container mx-auto p-6">
    <!-- TÍTULO -->
    <div class="header-bar mb-6">
        <h1 class="title">{% blocktrans with nome=furo.nome %}📊 Dashboard Geológico - {{ nome }}{% endblocktrans %}</h1>
    </div>

    <!-- CARD DO GRÁFICO -->
    <div class="card dashboard-geo-card">
        <canvas id="grafico" class="dashboard-geo-canvas"></canvas>
    </div>
</section>

{% endblock %}

{% block extra_scripts %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="dashboard-geo-config" data-medicoes-url="{% url 'projetos:furo_medicoes_json' furo.id %}"></div>
<script src="{% static 'js/projetos/dashboard_geo.js' %}"></script>
{% endblock %}
