{% extends "projetos/base.html" %}
{% load static  i18n %}

{% block title %}{% trans "Excluir Empregado" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projeto/empregados_delete.css' %}">
{% endblock %}

{% block content %}
<section class="sf-page p-6">
    <div class="ed-wrap">
        <h2 class="ed-title">{% trans "Excluir Empregado" %}</h2>
        <p>{% blocktrans with nome=empregado.nome %}Tem certeza que deseja excluir o empregado <strong>{{ nome }}</strong>?{% endblocktrans %}</p>

        <form method="POST" class="ed-form">
            {% csrf_token %}
            <button type="submit" class="ed-btn ed-btn-delete">
                🗑️ {% trans "Excluir" %}
            </button>

            <a href="{% url 'projetos:empregados_list' %}" class="ed-btn ed-btn-cancel">
                🔙 {% trans "Cancelar" %}
            </a>
        </form>
    </div>
</section>
{% endblock %}
