{% extends "projetos/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projeto/globo.css' %}">
<link href="https://cdn.jsdelivr.net/npm/cesium@1.111/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="cesiumContainer" class="globo-cesium-container"></div>

{{ projetos|json_script:"projetos-data" }}
<div
    id="globo-config"
    data-cesium-token="{{ CESIUM_TOKEN|default:'' }}"
    data-projeto-detail-base-url="{% url 'projetos:projeto_detail_legacy' '00000000-0000-0000-0000-000000000000' %}"
    data-projeto-detail-placeholder="00000000-0000-0000-0000-000000000000"
></div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/cesium@1.111/Build/Cesium/Cesium.js"></script>
<script src="{% static 'js/projetos/globo.js' %}"></script>
{% endblock %}
