{% extends "projetos/base.html" %}
<!-- projetos/templates/projetos/home.html -->

{% block content %}
<div id="cesiumContainer" style="width:100%; height:100%;"></div>

{{ projetos|json_script:"projetos-data" }}
{% endblock %}

{% block extra_scripts %}
<!-- Cesium JS -->
<script src="https://cdn.jsdelivr.net/npm/cesium@1.111/Build/Cesium/Cesium.js"></script>

<script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJhM2RhNGUwZS1mZTdhLTQxYzgtODM0MC0wZmM4ZDkxMmMxYzAiLCJpZCI6NDEyMzAxLCJpYXQiOjE3NzUwMzY3OTd9.4Awi01Ptul3Qjs_VoqwhJZbBgw80HdOdJknsmGzTTx8';

    const projetos = JSON.parse(
        document.getElementById('projetos-data').textContent
    );

    const viewer = new Cesium.Viewer('cesiumContainer', {
        terrain: Cesium.Terrain.fromWorldTerrain(),
        timeline: false,
        animation: false,
        sceneModePicker: true
    });

    viewer.scene.globe.enableLighting = false;

    projetos.forEach(p => {
        if (p.localizacao_lat && p.localizacao_lon) {
            viewer.entities.add({
                position: Cesium.Cartesian3.fromDegrees(
                    p.localizacao_lon,
                    p.localizacao_lat,
                    p.altitude || 0
                ),
                point: {
                    pixelSize: 10,
                    color: Cesium.Color.RED,
                    outlineColor: Cesium.Color.WHITE,
                    outlineWidth: 2
                },
                name: p.nome,
                description: `
                    <strong>${p.nome}</strong><br>
                    <a href="/projeto/${p.id}/">Ver projeto</a>
                `
            });
        }
    });

    viewer.zoomTo(viewer.entities);
</script>
{% endblock %}

