{% extends 'projetos/base.html' %}
{% load static %}

{% block title %}Apagar Material{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projeto/material_confirm_delete.css' %}">
{% endblock %}

{% block content %}
<div class="mtd-wrap">
    <h1>Apagar Material</h1>
    <p>Tem a certeza que deseja apagar "<strong>{{ material.nome }}</strong>"?</p>

    <form method="post" class="mtd-form">
        {% csrf_token %}
        <button type="submit" class="mtd-btn mtd-btn-delete">
            🗑️ Sim, apagar
        </button>

        <a href="{% url 'projetos:material_detail' material.id %}" class="mtd-btn mtd-btn-cancel">
            🔙 Cancelar
        </a>
    </form>
</div>
{% endblock %}
