{% extends 'projetos/base.html' %}
{% load static  i18n %}

{% block title %}{% trans "Globo de Projetos" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projeto/globo.css' %}">
<link href="https://cdn.jsdelivr.net/npm/cesium@1.111/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="cesiumContainer" class="w-full h-screen"></div>

<!-- Dados do Django em JSON -->
{{ projetos|json_script:"projetos_data" }}
<div
    id="projetos-globo-interativo-config"
    data-projeto-detail-base-url="{% url 'projetos:projeto_detail_legacy' '00000000-0000-0000-0000-000000000000' %}"
    data-projeto-detail-placeholder="00000000-0000-0000-0000-000000000000"
></div>

{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/cesium@1.111/Build/Cesium/Cesium.js"></script>
<script src="{% static 'js/projetos/projetos_globo_interativo.js' %}"></script>
{% endblock %}
