{% extends "projetos/base.html" %}
{% load static  i18n %}

{% block title %}{% block plataforma_title %}{% trans "Plataforma" %}{% endblock %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plataforma/layout.css' %}">
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="topbar">
            <div>
                <h1>{% block page_title %}{% trans "Plataforma" %}{% endblock %}</h1>
                <p>{% block page_description %}{% trans "Área de gestão da plataforma." %}{% endblock %}</p>
            </div>
            <div class="topbar-actions">
                {% block page_actions %}{% endblock %}
            </div>
        </div>

        {% block plataforma_content %}{% endblock %}
    </div>
{% endblock %}
