{% extends "projetos/base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Alterada" %}{% endblock %}

{% block content %}
<section class="container mx-auto p-6">
    <div class="max-w-xl mx-auto bg-white rounded-xl shadow-lg p-6 text-center">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">
            ✅ {% trans "Password alterada com sucesso" %}
        </h2>

        <p class="text-gray-600 mb-6">
            {% trans "Já podes entrar na plataforma com a tua nova password." %}
        </p>

        <a href="{% url 'login' %}" class="btn btn-success">
            {% trans "Ir para o login" %}
        </a>
    </div>
</section>
{% endblock %}
