{% extends "projetos/base.html" %}

{% block content %}
<div class="flex items-center justify-center h-screen bg-gray-100">

    <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">🔐 Login</h2>

        <form method="post">
            {% csrf_token %}

            <div class="mb-4">
                <label class="block mb-1 font-semibold">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-4">
                <label class="block mb-1 font-semibold">Password</label>
                {{ form.password }}
            </div>

            <button class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">
                Entrar
            </button>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'projetos:registo_empregado' %}" class="text-blue-600 hover:underline">
                Criar conta de empregado
            </a>
        </div>
    </div>

</div>
{% endblock %}